<div>
    <h2>
        <%="Question #{@question.id}"%>
    </h2>
</div>

<div>
  <p><strong><%=@question.prompt%></strong></p>
  <div>
    <%= form_with url: quiz_question_validate_path, local: true do |form| %>
     <%=form.radio_button :answer, @question.ans_options[0], class: 'step2-radio'%>
     <%= form.label @question.ans_options[0]%><br>
     <%=form.radio_button :answer, @question.ans_options[1], class: 'step2-radio'%>
     <%= form.label @question.ans_options[1]%><br>
     <%=form.radio_button :answer, @question.ans_options[2], class: 'step2-radio'%>
     <%= form.label @question.ans_options[2]%><br>
     <%=form.radio_button :answer, @question.ans_options[3], class: 'step2-radio'%>
     <%= form.label @question.ans_options[3]%><br>
     <%=form.radio_button :answer, @question.ans_options[4], class: 'step2-radio'%>
     <%= form.label @question.ans_options[4]%><br>
     <%=form.submit "Next", id: "btnext2", class: "btn btn-default",  data: {disable_with: false}%>
   <%end%>
  </div>
</div>
